body{
  background:black;
  color:white;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Roboto Condensed', sans-serif;*/
}
ui,li{
  list-style-type:none;
}
#content{
  
}
#welcome{
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
  
}
#searcher{
  
}
.bigText{
  font-size:300%;
}
#resetButtonArea{
  text-align:right;
}

/* Sticky Footer from Twitter Bootstrap - by Martin Bean and Ryan Fait
http://twitter.github.com/bootstrap/examples/sticky-footer.html

Also includes slight modification by myself*/ 
 html,
      body {
        height: 100%;
        font-family: 'Roboto', sans-serif; 
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 97%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -30px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 30px;
        padding-bottom:-10px;
      }
      #footer {
        background-color: #f5f5f5;
        
      }