body{
  background:black;
  color:white;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Roboto Condensed', sans-serif;*/
}
ui,li{
  list-style-type:none;
}
#content{
  
}
#welcome{
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
  
}
#searcher{
  
}
.bigText{
  font-size:300%;
}
#resetButtonArea{
  text-align:right;
}